.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/* Messenger*/
.messageHeader {
  
  font-family: 'Arial';
  font-size: 18px;
  color: #000000;

  text-align: left;
}

.chatTitle {
  width:100%;
  height:15%;

    
  font-family: 'Arial';
  font-size: 22px;
  color: #000000;

  font-weight: 4;

  text-align: center;
}

.messageTextBox {
  width: 95%;
  height: 10%;

  align-self: left;
}

.messageWindow {
  height: 482px;
}

.messageList{
  list-style: none;
  margin: 0px 0 0px 0;
  padding: 0 14px 0 14px;
}

.messageListElement{
  list-style: none;
  margin: 10px 0 10px 0;
}

.messageBubble {

  border-radius: 8px;

  background-color: #5f9cec;
  font-family: 'Arial';
  font-size: 18px;
  color: #ffffff;

  text-align: left;

  padding: 8px 8px 8px 8px;

}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* tabs */
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}